.item-list-plain {
  margin: 2rem 0 0;

  .list-item {
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    background-color: hsla(0, 0, 100, 0.9);
    list-style: none;
    font-size: 1.5rem;
    color: $action-color2;
  }

  .list-item.selected {
    background-color: $background-color1;
  }
}

.helptext {
  line-height: 1.5rem;
  text-align: center;
  color: $mid-grey;
  margin: 0 1rem;
}

.text-guide {
  padding: 1rem;
  color: #808080;
}

.afteroptions {
  margin: 1rem;
  text-align: right;
}

.btnemb {
  padding: 0.375rem 0.5rem;
  border: 1px solid white;
  border-radius: 2px;
  float: right;
  font-size: 0.875rem;
  color: white;

  &:hover {
    border-color: #CF466F;
    color: #CF466F;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

