// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    color: $mid-grey;
  }
}

